@font-face {
  font-family: "Miss Rhinetta";
  src: url('../fonts/Miss Rhinetta.otf');
}
body{
  font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
  font-size: 20px;
  margin:0px;
  padding: 0px;
}
header{
  height: auto;
  padding-top:3rem;
  padding-bottom:3rem;
  color: black;
  background-color: rgba(69, 135, 220, 0.1);
}
footer{
  width : 100%;
  height : 110px;
  border-top: 10px solid black;
  background-color: rgba(69, 135, 220, 0.1);
  margin-top: 30px;
}
#infoFooter{
  margin-top: 10px;
}
#networkFooter{
  margin-top: 30px;
}
.dropdown-toggle{
  color : white;
}
#name{
  font-size: 75px;
  font-weight: bold;
  font-family: 'Miss Rhinetta';
}
#pictureProfils{
  border: 5px solid #EEEEEE;
  height: 200px;
  display :block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#pictureContact{
  float: right;
  margin-right:7rem;
  height: 100px;
}
#divNavForBorderInRight{
  width: 50%;
  height: 50px;
  float: left;
  color: white;
}
#pictureImgBorderNav{
  float: right;
  height: 50px;
  top:0px;
  right:50%;
  z-index: 1000;
}
#navigationElement{
  height: 50px;
  width: 100%;
  float: right;
  text-align: center;
  background-color: #18181b;
  top:0px;
  right:0px;
  z-index: 1000;
}
.elementNav{
  height: 50px;
  float: right;
}
.elementNav:hover{
  background-color: #2f2f2f;
}
.elementNav > a > p {
  margin: 0px;
  height: 100%;
  padding-top: 1rem;
}
.elementNav > a {
  text-decoration: none;
  color: #EEEEEE;
}
#menuBurger{
  color: white;
  width: 100%;
  min-width: inherit;
  margin: 0;
  padding: 0;
  background-color:#18181b;
  box-shadow: none;
  border: 3px solid #18181b;
  border-radius: 0;
  -webkit-box-shadow:none;
  text-align: center;
}
#menuBurger > li > a{
  color: white;
  font-size: 17px;
}
#menuBurger > li > a:hover{
  color: white;
  background-color: #2f2f2f;
  font-weight: bold;
}
#listeFormation{
  list-style: none;
}

.elementForStickInHeader{
  width: 20px;
  height:100px;
  background-color: #18181b;
  display: block;
   position: relative;
   margin-left: auto;
   margin-right: auto;
}
.buttonFomations{
  border: none;
  color: white;
  background-color: #18181b;
  width : 175px;
  height : 175px;
  border-radius: 50%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.buttonFomations:hover{
  border: none;
  color: white;
  width : 175px;
  height : 175px;
  border-radius: 50%;
  display: block;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(69, 135, 220, 0.5);
}
.divDescriptionFormation{
  border-style: solid;
  width : 60%;
  display: block;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(255, 255, 255, 0.5);
}

.elementForStickInHeaderSkills{
  width: 20px;
  height:100px;
  background-color: #18181b;
  display: inline-block;
}
.buttonSkills{
  border: none;
  color: white;
  background-color: #18181b;
  width : 175px;
  height : 175px;
  border-radius: 50%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.buttonSkills:hover{
  border: none;
  color: white;
  width : 175px;
  height : 175px;
  border-radius: 50%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(69, 135, 220, 0.5);
}
.labelSkills{
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}
.scale, .graduation {
	width: 200px;
	height: 100px;
	display: -webkit-flex; /* OK chrome 21 */
	-webkit-align-items: center;
	display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.scale li {
    background: #aaa;
    list-style: none;
    border-right: 1px solid #fff;
    -webkit-flex: 1;
    flex: 1;
    border-radius: 50%;
}
.scale li.selected {
    background: #007f0e;
}
.scale li:last-child {
    border-right: none;
}
ul.scale{
  padding-left: 0px;
}
#globalDiv{
  min-height: 1000px;
}
